.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
    outline: none;
}

.clear,
.clear-inverted {
    padding: 0;
    color: var(--primary-color);
    outline: none;
    border: none;
    background: none;
}

.clear-inverted {
    color: var(--inverted-primary-color);
}

.outlined {
    padding: 10px 15px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.disabled {
    opacity: 0.5;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.size-m {
    font: var(--font-m);
}

.size-l {
    font: var(--font-l);
}

.size-xl {
    font: var(--font-xl);
}

.size-m.square {
    height: var(--font-line-m);
    width: var(--font-line-m);
    font: var(--font-m);
}

.size-l.square {
    height: var(--font-line-l);
    width: var(--font-line-l);
    font: var(--font-l);
}

.size-xl.square {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
    font: var(--font-xl);
}
