.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    color: #000;
    outline: none;
    border: none;
    background: none;
}

.outlined {
    padding: 10px 15px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
}
