.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: 300ms;
}

.sidebarSwitchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sidebarBtn {
    position: absolute;
    bottom: 32px;
    right: -32px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .sidebarSwitchers {
        flex-direction: column;
    }

    .link {
        display: none;
    }
}
