.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.data {
    margin-top: 30px;
}

.input {
    margin-top: 10px;
}

.error,
.loading {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}
