.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: 300ms;
}

.sidebarSwitchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}