.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: var(--inverted-primary-color);
}

.icon {
    fill: var(--inverted-primary-color);
    margin-right: 10px;
}

.link {
    display: block;
    transition: 0.2s;
}

.collapsed {
    .link {
        display: none;
    }
}
