.SelectWrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.label {
    margin-right: 10px;
}

.select {
    color: var(primary-color);
    padding: 2px 10px 2px 2px;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
